<div class="container">

<form action="/repos/add" method="post">
<p><button name="first" id="first">just add the first repo</button></p>
</form>

<form action="/repos/add" method="post">
<p><button name="all" id="all">add all the repos</button></p>
</form>
{{!-- {{#each errors}}
<p>{{text}}</p>
{{/each}}
<p><input type="search" placeholder="search by id" value={{byId}}></input><br> add repo by id 
<button name="byId" id="byId" value={{byId}}>add</button>

</p>
<p><input type="search" placeholder="search by name" value={{byName}}></input><br> add repo by name 
<button name="byName" id="byName" value={{byName}}>add</button>

</p> --}}
</div>