<h3>all units</h3>

{{#each newrepos}}
<div class="unit">
<p>
    Repo name: <span class="data">{{item_name}}</span>
</p>
<p>
    Repo ID: <span class="data">{{item_id}}</span>
</p>
<p>
    description: <span class="data">{{description}}</span>
</p>
<p>
    Stars count: <span class="data">{{stargazers_count}}</span>
</p>
<p>
<a href={{html_url}}>@open</a>
</p>
</div>

{{else}}
<p>No units in database!</p>
{{/each}}


