<h3>all units</h3>

<div class="unit">
{{#each newrepos}}

<p>
    item_id: <span class="data">{{item_id}}</span>
</p>
<p>
    item_name: <span class="data">{{item_name}}</span>
</p>
<p>
    full_name: <span class="data">{{full_name}}</span>
</p>
<p>
    description: <span class="data">{{description}}</span>
</p>
<p>
    html_url: <span class="data">{{html_url}}</span>
</p>

{{else}}
<p>No units in database!</p>
{{/each}}

</div>

